---
layout: base.template.njk
title: Welcome to bahn.dev
navigation: true
full_content: true
footer: true
---
{%- from "./../../templates/_setup/macros/component.macro.njk" import component -%}
 <div class="container-fluid my-5 text-center"  style="font-size:0">
      {{
           component("svg", {
             path: "hackathon/MAP-FINAL.svg",
             size: "2000"
           })
         }}
 </div>

 {# {{
           component("svg_multiple", {
             pathes: [ "hackathon/🧭 Side OO.svg", "hackathon/🧭 Side SO.svg"],
             size: ["1000", "500"]
           })
         }} #}