---
layout: raw.njk
pagination:
  data: station_pages
  size: 1
  alias: stationItem
permalink: "/station-overview/api/stations/{{ stationItem.url_dhid }}/index.html"
---
{% set stop = api.OPEN_STATION_API.stops[stationItem.dhid] %}
{
  "dhid": {{ stationItem.dhid | dump | safe }},
  "data": {{ stop | dump | safe }}
}
